.LoginAuth {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 4rem;
    position: relative;
    
}

.LoginAuth > div {
    display: flex;
    
    align-items: center;
    justify-content: center;
}

.login-left {
    gap: 2rem;
}

.login-left > img{
  width: 200px;
  height: 100px;

}

.login-left {
  gap: 2rem;
}

.Webname > h1 {
    font-size: 2rem;
    background-color: red;

    background-image: var(--buttonBg);

    background-size: 100%;
    background-repeat: repeat;

    /* Use the text as a mask for the background */

    /* This will show the gradianet as a text color rather than */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

}

.Webname > h6 {
    font-size: 0.85rem;
}

.info-form-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.infoInput {
    border: none;
    outline: none;
    background-color: none;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    flex: 1;
}


.info-form-control > div{
    display: flex;
    gap: 1rem;
    height: 3rem;
    

}

.infoButton {
    width: 6rem;
    height: 2rem;
    align-self: flex-end;
    
}

.authForm {
    background-color: #665f5f;
    border-radius: 1rem;
    padding: 1rem;
}

.authForm > div {
    width: 100%;
    align-items: center;
    justify-content: center;
}

