.ProfilePostShare > div > input::-ms-input-placeholder { /* Edge 12-18 */
    color: rgb(77, 74, 74);
  }
  
.ProfilePostShare > div > input::placeholder {
    color: rgb(77, 74, 74);
}

.ProfilePostShare {
    display: flex;
    background-color: var(--cardColor);
    padding: 1rem;
    border-radius: 1rem;
    
    
}

.ProfilePostShare>img{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}


.ProfilePostShare > div{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 1rem;
}

.ProfilePostShare > div > input {
    background: var(--inputColor);
    border-radius: 10px;
    padding: 10px;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 17px;
    border: none;
    outline: none;
    color: #000;
}

.ProfilePostShare > div > textarea {
    background: var(--inputColor);
    border-radius: 10px;
    padding: 10px;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 17px;
    border: none;
    outline: none;
    color: #000;
}

.ProfilePostShare > div > button {
    position: absolute;
    display: grid;
    width: 25%;
    align-items: end;
    
    bottom: 0px;
    right: 5px;
   
    max-height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;

}

.postOptions {
    display: flex;
    justify-content: space-around;
    padding-bottom: 70px;
}

.postOptions svg, .postOptions .option, .ps-button {
    font-size: 15px;
    font-weight: 500;
}
.postOptions svg {
    margin-right: 5px;
    font-size: 19px;
}

.postOptions .option {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.option:hover {
    cursor: pointer;
}

.ps-button {
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    
}

.previewImage {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
}

.previewImage > svg {
    position: absolute;
    left: 1.5rem;
    top: 0.5rem;
    cursor: pointer;
    border: 2px solid var(--red);
    color: red;
    border-radius: 50%;
}

.useIcon {
    position: absolute;
    right: 2rem;
    top: 0.5rem;
    cursor: pointer;
    border: 2px solid rgb(224, 65, 65);
    color: rgb(224, 65, 65);
    border-radius: 50%;
}

.useIcon:hover {
    color: #ac2424;
    border: 2px solid #ac2424;
}

.previewImage > .selectedPostImage {
    padding-bottom: 70px;
}
.previewImage > .selectedPostImage {
    display: flex;
    
    margin-top: 10px;
    
}

.previewImage > img {
    width: 75%;
    /* height: 20rem; */
    max-height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;

}
